

body{margin:0px;} /*把留白去除*/
a{
	text-decoration:none; /* 去除超連結底線 */
	color:black;
}
header{
	display:flex; /* 把換行的item 並排 */
	padding:10px;
	font-size:20px;
	margin:5px;
    height:30px;
	} 
header>.logo{
	flex:none;
	width:150px;
	font-weight:bold;
	margin:5px; /* 和旁邊區塊有一點間隔，成功置中 */
}

header>.blank{ /* 中間自動填滿 */
	flex:auto;
}


header>.item{
	flex:none;
	margin:5px;
	display:none;
}

@media(min-width:600px){ /* 600以上的時候 */
	#icon{
		display:none;
	}
	.menu{
	display:none;
	}
	header>.item{
		display:block;
		color:black;
	}
}

#icon{
	margin:5px;
}
.menu{
	background-color:#C4E1E1;
	list-style-type:none;
	height:100vh;
	width:50%;
	position:absolute;top:40px;left:0;
	padding:0px; /* 讓ul不留多餘空間 */
	/* border:1px solid #000000; */
	transform: translateX(-100%); /*選單收起狀態translateX X代表X軸  所以右邊是100%,左邊是-100% */
	transition: 0.5s; /* 收放動畫! */
}

#burger:checked ~ .menu{
	transform: translateX(0%);
}

#burger{
	display:none;
}
.hover:hover{
	background-color: #D1E9E9;
	color:black;
}
.menu li a{
	display:block; /*讓li跟a區塊綁在一起*/
	padding:15px;
	text-transform:uppercase; /* 變大寫 */
	text-align:center;
	border-bottom:2px solid #333;
	color:#333;

}







nav{
	height:300px;
	background-color:#81C0C0;
	display:flex;
	justify-content:center;
	align-items:center;
	}
nav>.text{
	flex:none;
	font-size:40px;font-weight:bold;
}

main{
	display:flex;flex-wrap:wrap; /* 螢幕變小可換行功能 */
	justify-content:center; 
	align-items:center;
	margin-top:40px;
	}


.box{
	/*float:left;*/ /* 舊用法，老師不推薦使用 */
	display:inline-block;
	width:270px;
	margin:10px; /* margin左右都要算所以是(270+20)x4=1160 */
	/*background-color:#D1E9E9;*/ /* for check使用*/

}


img{
	display:block; /* 可以和h4鎖在box裡*/
	max-width:100%; /*保有圖片原始大小。瀏覽器變大，最大也是原始尺寸大小；瀏覽器縮小會等比例縮小*/
	height:auto;
}

h4{
	background-color:#D1E9E9;
	margin:0px;height:30px;
	text-align:center;
	line-height:2; /* 自調 垂直置中*/
}

@media (max-width:1200px){
	.box{
		width:45%; /* 一個方塊站螢幕滿版的45% */
	}
	.container{ /* 手調置中，也會套用到600px以下~*/
		margin-left:25px;
	}
}

@media (max-width:600px){
	.box{
		width:90%; /* 一個方塊站螢幕滿版的90% */
	}
}

footer{
	height:40px;
	text-align:center;
	line-height:2;

}

